<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/css_menu_admin.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Laila|Roboto" rel="stylesheet">
</head>
<body>
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: #6ddd80; text-decoration: none;" href="/admin/home">Trang Chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" style="color: #6ddd80; text-decoration: none;" href="/admin/hoadon">Hóa Đơn
                    <span
                            class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--  -->
<h4 class="text-center my-3 size-45px">Chi tiết hóa đơn</h4>
<div class="container">
    <h6 th:text="${'Khách hàng: '+bill.customerName}"></h6>
    <h6 th:text="${'Số điện thoại: '+bill.phone}"></h6>
    <h6 th:text="${'Địa chỉ nhận hàng: '+bill.address}"></h6>
    <!-- table -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mặt hàng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td th:text="${bill.product.name}"></td>
            <td th:text="${bill.product.price+'00 VND'}"></td>
            <td th:text="${bill.product.numbers}"></td>
            <td th:text="${bill.product.price*bill.product.numbers+'00 VND'}"></td>
        </tr>
        </tbody>
    </table>
    <!--  -->
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row" th:text="${'Tổng tiền : '+bill.product.price*bill.product.numbers+'00 VND'}"></th>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>