<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: #6ddd80; text-decoration: none;" href="/">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<br>
<hr>
<div class="container-fluid">
    <p id="index" th:text="${product.id}" style="opacity: 0"></p>
    <div class="row">
        <div class="col-4">
            <img th:src="${'/'+product.img}" alt="Ảnh mặt hàng" style="width: 100%;height: 100%">
        </div>
        <div class="col-8">
            <form  th:action="${'/muahang/'+product.id}" th:object="${bill}" method="post" onsubmit="muahang(this)">
                <legend th:text="${product.name}"></legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Họ tên: </label>
                        <input type="text"  th:field="${bill.customerName}" class="form-control" id="inputEmail4" placeholder="Nguyễn Văn A">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Số điện thoại: </label>
                        <input th:field="${bill.phone}" type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input th:field="${bill.address}" type="text" class="form-control" id="inputAddress"
                           placeholder="Học viện kỹ thuật mật mã ">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="numbers-submit" th:text="${'Số lượng: ( Hiện có: '+product.numbers+')'}"> </label>
                        <input id="numbers-submit" th:field="${bill.number}" type="number" class="form-control" >
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Mua hàng</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/socket.js}"></script>
    <script>

    </script>

</div>
</body>
</html>